
.card-icon{
    font-size: 2rem;
    color:goldenrod
}
.profile{
    border-radius: 50%;
    padding: 2px;
    height: 2rem;
    width: 2rem;
    border:1px solid blue;
    cursor: pointer;
}
.profile:hover{
    cursor: pointer;
    border:1px solid darkblue;
}
